<?xml version="1.0"?>
<robot 
    xmlns:xacro="http://www.ros.org/wiki/xacro">
    <!-- ros_control plugin -->
    <gazebo>
        <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
            <robotNamespace>/huron</robotNamespace>
         </plugin>
    </gazebo>
    <gazebo>
        <plugin name="ground_truth" filename="libgazebo_ros_p3d.so">
            <frameName>map</frameName>
            <bodyName>base_link</bodyName>
            <topicName>/huron/odom</topicName>
            <updateRate>100.0</updateRate>
        </plugin>
    </gazebo>

    <!-- imu sensor -->
    <gazebo reference="imu_link">
        <gravity>true</gravity>
        <sensor name="imu_sensor" type="imu">
            <always_on>true</always_on>
            <update_rate>100</update_rate>
            <visualize>true</visualize>
            <topic>/huron/sensor/imu</topic>
            <plugin filename="libgazebo_ros_imu_sensor.so" name="imu_plugin">
                <topicName>huron/sensor/imu</topicName>
                <bodyName>imu_link</bodyName>
                <updateRateHZ>10.0</updateRateHZ>
                <gaussianNoise>0.0</gaussianNoise>
                <xyzOffset>0 0 0</xyzOffset>
                <rpyOffset>0 0 0</rpyOffset>
                <frameName>imu_link</frameName>
            </plugin>
            <pose>0 0 0 0 0 0</pose>
        </sensor>
    </gazebo>

  
    
    <gazebo reference ="r1_ft_fixed">
    	<provideFeedback>true</provideFeedback>
    </gazebo>
    
    <gazebo>
    <plugin name="r1_ft_sensor" filename="libgazebo_ros_ft_sensor.so">
        <updateRate>100.0</updateRate>
        <topicName>/huron/sensor/r1_ft_sensor</topicName>
        <jointName>r1_ft_fixed</jointName>
        <gaussianNoise>0.0</gaussianNoise>
    </plugin>
    </gazebo>
    
    <gazebo reference ="r2_ft_fixed">
    	<provideFeedback>true</provideFeedback>
    </gazebo>
    
    <gazebo>
    <plugin name="r2_ft_sensor" filename="libgazebo_ros_ft_sensor.so">
        <updateRate>100.0</updateRate>
        <topicName>/huron/sensor/r2_ft_sensor</topicName>
        <jointName>r2_ft_fixed</jointName>
        <gaussianNoise>0.0</gaussianNoise>
    </plugin>
    </gazebo>
    
    <gazebo reference ="r3_ft_fixed">
    	<provideFeedback>true</provideFeedback>
    </gazebo>
    
    <gazebo>
    <plugin name="r3_ft_sensor" filename="libgazebo_ros_ft_sensor.so">
        <updateRate>100.0</updateRate>
        <topicName>/huron/sensor/r3_ft_sensor</topicName>
        <jointName>r3_ft_fixed</jointName>
        <gaussianNoise>0.0</gaussianNoise>
    </plugin>
    </gazebo>

    <gazebo reference ="r4_ft_fixed">
    	<provideFeedback>true</provideFeedback>
    </gazebo>
    
    <gazebo>
    <plugin name="r4_ft_sensor" filename="libgazebo_ros_ft_sensor.so">
        <updateRate>100.0</updateRate>
        <topicName>/huron/sensor/r4_ft_sensor</topicName>
        <jointName>r4_ft_fixed</jointName>
        <gaussianNoise>0.0</gaussianNoise>
    </plugin>
    </gazebo> 
        
    
   
    <gazebo reference ="l1_ft_fixed">
    	<provideFeedback>true</provideFeedback>
    </gazebo>
    
    <gazebo>
    <plugin name="l1_ft_sensor" filename="libgazebo_ros_ft_sensor.so">
        <updateRate>100.0</updateRate>
        <topicName>/huron/sensor/l1_ft_sensor</topicName>
        <jointName>l1_ft_fixed</jointName>
        <gaussianNoise>0.0</gaussianNoise>
    </plugin>
    </gazebo>
    
    <gazebo reference ="l2_ft_fixed">
    	<provideFeedback>true</provideFeedback>
    </gazebo>
    
    <gazebo>
    <plugin name="l2_ft_sensor" filename="libgazebo_ros_ft_sensor.so">
        <updateRate>100.0</updateRate>
        <topicName>/huron/sensor/l2_ft_sensor</topicName>
        <jointName>l2_ft_fixed</jointName>
        <gaussianNoise>0.0</gaussianNoise>
    </plugin>
    </gazebo>
    
    <gazebo reference ="l3_ft_fixed">
    	<provideFeedback>true</provideFeedback>
    </gazebo>
    
    <gazebo>
    <plugin name="l3_ft_sensor" filename="libgazebo_ros_ft_sensor.so">
        <updateRate>100.0</updateRate>
        <topicName>/huron/sensor/l3_ft_sensor</topicName>
        <jointName>l3_ft_fixed</jointName>
        <gaussianNoise>0.0</gaussianNoise>
    </plugin>
    </gazebo>
    
    <gazebo reference ="l4_ft_fixed">
    	<provideFeedback>true</provideFeedback>
    </gazebo>
    
    <gazebo>
    <plugin name="r4_ft_sensor" filename="libgazebo_ros_ft_sensor.so">
        <updateRate>100.0</updateRate>
        <topicName>/huron/sensor/l4_ft_sensor</topicName>
        <jointName>l4_ft_fixed</jointName>
        <gaussianNoise>0.0</gaussianNoise>
    </plugin>
    </gazebo> 

    
    <!-- World -->
    <gazebo reference="world"></gazebo>
    <!-- Map -->
    <gazebo reference="map"></gazebo>
    <!-- Base -->
    <gazebo reference="base_link"></gazebo>
    <!-- IMU -->
    <gazebo reference="imu_link"></gazebo>
    <!-- Body-->
    <gazebo reference="base_footprint">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
        <material>Gazebo/Grey</material>
        <selfCollide>true</selfCollide>
    </gazebo>
    <!-- Left Leg -->
    <gazebo reference="l_hip_yaw_link">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
        <material>Gazebo/Grey</material>
        <selfCollide>true</selfCollide>
    </gazebo>
    <gazebo reference="l_hip_roll_link">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
        <material>Gazebo/Grey</material>
        <selfCollide>true</selfCollide>
    </gazebo>
    <gazebo reference="l_hip_pitch_link">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
        <material>Gazebo/Grey</material>
        <selfCollide>true</selfCollide>
    </gazebo>
    <gazebo reference="l_knee_pitch_link">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
        <material>Gazebo/Grey</material>
        <selfCollide>true</selfCollide>
    </gazebo>
    <gazebo reference="l_ankle_pitch_link">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
        <material>Gazebo/Grey</material>
        <selfCollide>true</selfCollide>
    </gazebo>
    <gazebo reference="l_ankle_roll_link">
         <kp>100000.0</kp>
        <kd>100.0</kd>
        <mu1>0.9</mu1>
        <mu2>0.9</mu2>
        <!--<maxContacts>30</maxContacts>-->
        <fdir1>1 1 0</fdir1>
        <maxVel>1.0</maxVel>
        <minDepth>0.001</minDepth>
        <material>Gazebo/Blue</material>
    </gazebo>
    

    
    <gazebo reference="l1_foot_ft_link">
        <kp>100000.0</kp>
        <kd>100.0</kd>
        <mu1>0.9</mu1>
        <mu2>0.9</mu2>
        <!--<maxContacts>30</maxContacts>-->
        <fdir1>1 1 0</fdir1>
         <maxVel>1.0</maxVel> 
        <minDepth>0.0001</minDepth>
        <material>Gazebo/Black</material>
    </gazebo>  
    
    <gazebo reference="l2_foot_ft_link">
        <kp>100000.0</kp>
        <kd>100.0</kd>
        <mu1>0.9</mu1>
        <mu2>0.9</mu2>
        <!--<maxContacts>30</maxContacts>-->
        <fdir1>1 1 0</fdir1>
         <maxVel>1.0</maxVel> 
        <minDepth>0.0001</minDepth>
        <material>Gazebo/Black</material>
    </gazebo> 
    
    <gazebo reference="l3_foot_ft_link">
        <kp>100000.0</kp>
        <kd>100.0</kd>
        <mu1>0.9</mu1>
        <mu2>0.9</mu2>
        <!--<maxContacts>30</maxContacts>-->
        <fdir1>1 1 0</fdir1>
         <maxVel>1.0</maxVel> 
        <minDepth>0.0001</minDepth>
        <material>Gazebo/Black</material>
    </gazebo> 
    
    <gazebo reference="l4_foot_ft_link">
        <kp>100000.0</kp>
        <kd>100.0</kd>
        <mu1>0.9</mu1>
        <mu2>0.9</mu2>
        <!--<maxContacts>30</maxContacts>-->
        <fdir1>1 1 0</fdir1>
         <maxVel>1.0</maxVel> 
        <minDepth>0.0001</minDepth>
        <material>Gazebo/Black</material>
    </gazebo>     

    
    <!-- Right Leg -->
    <gazebo reference="r_hip_yaw_link">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
        <material>Gazebo/Grey</material>
        <selfCollide>true</selfCollide>
    </gazebo>
    <gazebo reference="r_hip_roll_link">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
        <material>Gazebo/Grey</material>
        <selfCollide>true</selfCollide>
    </gazebo>
    <gazebo reference="r_hip_pitch_link">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
        <material>Gazebo/Grey</material>
        <selfCollide>true</selfCollide>
    </gazebo>
    <gazebo reference="r_knee_pitch_link">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
        <material>Gazebo/Grey</material>
        <selfCollide>true</selfCollide>
    </gazebo>
    <gazebo reference="r_ankle_pitch_link">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
        <material>Gazebo/Grey</material>
        <selfCollide>true</selfCollide>
    </gazebo>
    <gazebo reference="r_ankle_roll_link">
        <kp>100000.0</kp>
        <kd>100.0</kd>
        <mu1>0.9</mu1>
        <mu2>0.9</mu2>
        <!--<maxContacts>30</maxContacts>-->
        <fdir1>1 1 0</fdir1>
         <maxVel>1.0</maxVel> 
        <minDepth>0.0001</minDepth>
        <material>Gazebo/Blue</material>
    </gazebo>   


    <gazebo reference="r1_foot_ft_link">
        <kp>100000.0</kp>
        <kd>100.0</kd>
        <mu1>0.9</mu1>
        <mu2>0.9</mu2>
        <!--<maxContacts>30</maxContacts>-->
        <fdir1>1 1 0</fdir1>
         <maxVel>1.0</maxVel> 
        <minDepth>0.0001</minDepth>
        <material>Gazebo/Black</material>
    </gazebo>  
    
    <gazebo reference="r2_foot_ft_link">
        <kp>100000.0</kp>
        <kd>100.0</kd>
        <mu1>0.9</mu1>
        <mu2>0.9</mu2>
        <!--<maxContacts>30</maxContacts>-->
        <fdir1>1 1 0</fdir1>
         <maxVel>1.0</maxVel> 
        <minDepth>0.0001</minDepth>
        <material>Gazebo/Black</material>
    </gazebo> 
    
    <gazebo reference="r3_foot_ft_link">
        <kp>100000.0</kp>
        <kd>100.0</kd>
        <mu1>0.9</mu1>
        <mu2>0.9</mu2>
        <!--<maxContacts>30</maxContacts>-->
        <fdir1>1 1 0</fdir1>
         <maxVel>1.0</maxVel> 
        <minDepth>0.0001</minDepth>
        <material>Gazebo/Black</material>
    </gazebo> 
    
    <gazebo reference="r4_foot_ft_link">
        <kp>100000.0</kp>
        <kd>100.0</kd>
        <mu1>0.9</mu1>
        <mu2>0.9</mu2>
        <!--<maxContacts>30</maxContacts>-->
        <fdir1>1 1 0</fdir1>
         <maxVel>1.0</maxVel> 
        <minDepth>0.0001</minDepth>
        <material>Gazebo/Black</material>
    </gazebo> 

</robot>
