<?xml version="1.0"?>
<robot 
    xmlns:xacro="http://www.ros.org/wiki/xacro">
    <!-- body link -->
    <xacro:macro name="insert_inertia_base_link">
      <origin
        xyz="4.7319E-09 5.4338E-07 0.026975"
        rpy="0 0 0" />
      <mass
        value="3.4072" />
      <inertia
        ixx="0.00319"
        ixy="7.149E-11"
        ixz="6.0313E-11"
        iyy="0.010531"
        iyz="6.926E-09"
        izz="0.012315" />
    </xacro:macro>
    
    <!-- left hip yaw link -->
    <xacro:macro name="insert_inertia_l_hip_yaw_link">
      <origin
        xyz="0.00063365 -0.00053469 0.063496"
        rpy="0 0 0" />
      <mass
        value="1.6968" />
      <inertia
        ixx="0.0022702"
        ixy="-2.5061E-10"
        ixz="6.6464E-06"
        iyy="0.0026746"
        iyz="-5.1468E-09"
        izz="0.001238" />
    </xacro:macro>
    <!-- left hip roll link -->
    <xacro:macro name="insert_inertia_l_hip_roll_link">
      <origin
        xyz="0.07196 0.0061153 -0.0005211"
        rpy="0 0 0" />
      <mass
        value="1.1884" />
      <inertia
        ixx="0.00098222"
        ixy="-9.9265E-08"
        ixz="4.9766E-09"
        iyy="0.00097045"
        iyz="-9.7282E-08"
        izz="0.00092365" />
    </xacro:macro>
    <!-- left hip pitch link -->
    <xacro:macro name="insert_inertia_l_hip_pitch_link">
      <origin
        xyz="0.26603 4.6212E-05 0.053152"
        rpy="0 0 0" />
      <mass
        value="4.2544" />
      <inertia
        ixx="0.0034527"
        ixy="-3.1046E-08"
        ixz="0.0019797"
        iyy="0.010032"
        iyz="-1.4492E-10"
        izz="0.01009" />
    </xacro:macro>
    <!-- left knee link -->
    <xacro:macro name="insert_inertia_l_knee_pitch_link">
      <origin
        xyz="0.13395 0.00068098 0.00486"
        rpy="0 0 0" />
      <mass
        value="3.4875" />
      <inertia
        ixx="0.0064808"
        ixy="1.3685E-05"
        ixz="-2.8221E-05"
        iyy="0.019763"
        iyz="1.0351E-05"
        izz="0.017354" />
    </xacro:macro>
    <!-- left ankle pitch link -->
    <xacro:macro name="insert_inertia_l_ankle_pitch_link">
      <origin
        xyz="-0.029808 0.001045 3.1135E-08"
        rpy="0 0 0" />
      <mass
        value="2.4242" />
      <inertia
        ixx="0.0025143"
        ixy="-0.00025651"
        ixz="1.1648E-12"
        iyy="0.0045125"
        iyz="6.7198E-10"
        izz="0.0049235" />
    </xacro:macro>
    <!-- left ankle roll link -->
    <xacro:macro name="insert_inertia_l_ankle_roll_link">
      <origin
        xyz="0.073422 -5.3261E-05 0.063946"
        rpy="0 0 0" />
      <mass
        value="1.8533" />
      <inertia
        ixx="0.008682"
        ixy="-1.0255E-05"
        ixz="0.00024351"
        iyy="0.0084057"
        iyz="0.00012332"
        izz="0.0013019" />
    </xacro:macro>
    
    <!-- Left foot sensors -->
    <!-- l1_foot_ft link -->
    <xacro:macro name="insert_inertia_l1_foot_ft_link">
      <origin
        xyz="6.5681E-06 0.0048368 0.00012069"
        rpy="0 0 0" />
      <mass
        value="0.0086322" />
      <inertia
        ixx="3.8994E-07"
        ixy="2.5351E-10"
        ixz="3.0416E-10"
        iyy="5.8206E-07"
        iyz="5.9744E-09"
        izz="3.4276E-07" />
    </xacro:macro>
       
    <!-- l2_foot_ft link  -->
    <xacro:macro name="insert_inertia_l2_foot_ft_link">
      <origin
        xyz="6.56809560273253E-06 0.00483682139671537 0.000120685375128327"
        rpy="0 0 0" />
      <mass
        value="0.00863223621815319" />
      <inertia
        ixx="3.89940248965647E-07"
        ixy="2.53506346419819E-10"
        ixz="3.04161588773098E-10"
        iyy="5.82064646347941E-07"
        iyz="5.97441467814794E-09"
        izz="3.42755265424868E-07" />
    </xacro:macro>
    
    <!-- l3_foot_ft link 3 -->
    <xacro:macro name="insert_inertia_l3_foot_ft_link">
      <origin
        xyz="6.56809560273253E-06 0.00483682139671548 0.000120685375128382"
        rpy="0 0 0" />
      <mass
        value="0.00863223621815319" />
      <inertia
        ixx="3.89940248965648E-07"
        ixy="2.53506346419837E-10"
        ixz="3.04161588773088E-10"
        iyy="5.82064646347941E-07"
        iyz="5.97441467814795E-09"
        izz="3.42755265424868E-07" />
    </xacro:macro> 
    
    <!-- l4_foot_ft link 4 -->
    <xacro:macro name="insert_inertia_l4_foot_ft_link">
      <origin
        xyz="6.5681E-06 0.0048368 0.00012069"
        rpy="0 0 0" />
      <mass
        value="0.0086322" />
      <inertia
        ixx="3.8994E-07"
        ixy="2.5351E-10"
        ixz="3.0416E-10"
        iyy="5.8206E-07"
        iyz="5.9744E-09"
        izz="3.4276E-07" />
    </xacro:macro>  
    
    <!-- Right leg -->

    <!-- right hip yaw link -->
    <xacro:macro name="insert_inertia_r_hip_yaw_link">
      <origin
        xyz="0.0006244 0.00052023 0.063505"
        rpy="0 0 0" />
      <mass
        value="1.6968" />
      <inertia
        ixx="0.0022729"
        ixy="-5.6517E-10"
        ixz="6.6464E-06"
        iyy="0.0026746"
        iyz="5.6889E-09"
        izz="0.0012354" />
    </xacro:macro>
    <!-- right hip roll link -->
    <xacro:macro name="insert_inertia_r_hip_roll_link">
      <origin
        xyz="-0.07196 0.0061152 -0.00052563"
        rpy="0 0 0" />
      <mass
        value="1.1884" />
      <inertia
        ixx="0.00098222"
        ixy="9.8947E-08"
        ixz="9.2484E-09"
        iyy="0.00097045"
        iyz="9.7414E-08"
        izz="0.00092365" />
    </xacro:macro>
    <!-- right hip pitch link -->
    <xacro:macro name="insert_inertia_r_hip_pitch_link">
      <origin
        xyz="0.26753 4.9957E-05 -0.053132"
        rpy="0 0 0" />
      <mass
        value="4.2544" />
      <inertia
        ixx="0.0034501"
        ixy="-2.7561E-09"
        ixz="-0.0019797"
        iyy="0.010035"
        iyz="2.5263E-10"
        izz="0.01009" />
    </xacro:macro>
    <!-- right knee link -->
    <xacro:macro name="insert_inertia_r_knee_pitch_link">
      <origin
        xyz="0.13396 0.00063335 -0.00486"
        rpy="0 0 0" />
      <mass
        value="3.4875" />
      <inertia
        ixx="0.0064812"
        ixy="1.2949E-05"
        ixz="2.8064E-05"
        iyy="0.019762"
        iyz="-1.0389E-05"
        izz="0.017354" />
    </xacro:macro>
    <!-- right ankle pitch link -->
    <xacro:macro name="insert_inertia_r_ankle_pitch_link">
      <origin
        xyz="-0.029867 0.001045 0.000556"
        rpy="0 0 0" />
      <mass
        value="2.4242" />
      <inertia
        ixx="0.0025143"
        ixy="-0.00025651"
        ixz="1.5321E-12"
        iyy="0.0045125"
        iyz="9.9589E-10"
        izz="0.0049235" />
    </xacro:macro>
    <!-- right ankle roll link -->
    <xacro:macro name="insert_inertia_r_ankle_roll_link">
      <origin
        xyz="0.073422 7.2094E-05 0.063933"
        rpy="0 0 0" />
      <mass
        value="1.8531" />
      <inertia
        ixx="0.0086813"
        ixy="1.0356E-05"
        ixz="0.00024346"
        iyy="0.0084051"
        iyz="-0.00012301"
        izz="0.0013018" />
    </xacro:macro>
    
    <!-- Right foot sensors -->

    <!-- r1_foot_ft link -->
    <xacro:macro name="insert_inertia_r1_foot_ft_link">
      <origin
        xyz="-9.3029E-06 0.0048381 4.6013E-05"
        rpy="0 0 0" />
      <mass
        value="0.0086322" />
      <inertia
        ixx="3.8994E-07"
        ixy="-3.7469E-10"
        ixz="5.2298E-10"
        iyy="5.8219E-07"
        iyz="2.2796E-09"
        izz="3.4263E-07" />
    </xacro:macro>
       
    <!-- r2_foot_ft link  -->
    <xacro:macro name="insert_inertia_r2_foot_ft_link">
      <origin
        xyz="-9.3029E-06 0.0048381 4.6013E-05"
        rpy="0 0 0" />
      <mass
        value="0.0086322" />
      <inertia
        ixx="3.8994E-07"
        ixy="-3.7469E-10"
        ixz="5.2298E-10"
        iyy="5.8219E-07"
        iyz="2.2796E-09"
        izz="3.4263E-07" />
    </xacro:macro>
    
    <!-- r_foot_ft link 3 -->
    <xacro:macro name="insert_inertia_r3_foot_ft_link">
      <origin
        xyz="-9.3029E-06 0.0048381 4.6013E-05"
        rpy="0 0 0" />
      <mass
        value="0.0086322" />
      <inertia
        ixx="3.8994E-07"
        ixy="-3.7469E-10"
        ixz="5.2298E-10"
        iyy="5.8219E-07"
        iyz="2.2796E-09"
        izz="3.4263E-07" />
    </xacro:macro> 
    
    <!-- r_foot_ft link 4 -->
    <xacro:macro name="insert_inertia_r4_foot_ft_link">
      <origin
        xyz="-9.3029E-06 0.0048381 4.6013E-05"
        rpy="0 0 0" />
      <mass
        value="0.0086322" />
      <inertia
        ixx="3.8994E-07"
        ixy="-3.7469E-10"
        ixz="5.2298E-10"
        iyy="5.8219E-07"
        iyz="2.2796E-09"
        izz="3.4263E-07" />
    </xacro:macro>  
    
</robot>
