<launch>
  <include file="$(find gazebo_ros)/launch/empty_world.launch" />

  <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find huron_description)/urdf/huron.xacro'" />

  <node
    name="tf_footprint_base"
    pkg="tf"
    type="static_transform_publisher"
    args="0 0 0 0 0 0 base_link base_footprint 40" />
    
  <node
    name="spawn_model"
    pkg="gazebo_ros"
    type="spawn_model"
    args="-urdf -model huron_description -z 1.125595 -param robot_description"
    output="screen" />

 <!-- <node
    name="fake_joint_calibration"
    pkg="rostopic"
    type="rostopic"
    args="pub /calibrated std_msgs/Bool true" /> -->

  <!-- <node name="rqt_gui" pkg="rqt_gui" type="rqt_gui" output="screen" respawn = "false" -->
  <!--   args="-p foot_ft"/> -->
  <node name="foot_ft_plot"
        pkg="rqt_plot"
        type="rqt_plot"
        args="/huron/sensor/r1_ft_sensor/wrench/force/y /huron/sensor/r2_ft_sensor/wrench/force/y /huron/sensor/r3_ft_sensor/wrench/force/y /huron/sensor/r4_ft_sensor/wrench/force/y /huron/sensor/l1_ft_sensor/wrench/force/y /huron/sensor/l2_ft_sensor/wrench/force/y /huron/sensor/l3_ft_sensor/wrench/force/y /huron/sensor/l4_ft_sensor/wrench/force/y" />

</launch>
